_site
.sass-cache
.jekyll-metadata
node_modules/
.jekyll-cache
material-icons/
.DS_Store

assets/img/lib/uswds/material-icons-deprecated/
assets/img/lib/uswds/usa-icons-bg/
assets/img/lib/uswds/uswds-icons/
