<aside class="usa-width-one-fourth sidenav sticky">
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.title == 'Getting started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/content-design/getting-started/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Getting started
      </a>
    </li>
    <li>
      <a {% if page.title == 'Plain language' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/content-design/plain-language/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Plain language
      </a>
    </li>
    <li>
      <a {% if page.title == 'Reference materials' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/content-design/reference-materials/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Reference materials
      </a>
    </li>
    <li>
      <a {% if page.title == 'Easy-to-parse graphic elements' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/content-design/graphic-elements/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Graphic elements
      </a>
    </li>
    <li>
      <a {% if page.title == 'Scannable content' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/content-design/scannable-content/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Scannable content
      </a>
    </li>
    <li>
      <a {% if page.title == 'Images' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/content-design/images/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Images
      </a>
    </li>
    <li>
      <a {% if page.title == 'Links' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/content-design/links/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Links
      </a>
    </li>
    <li>
      <a {% if page.title == 'Information architecture' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/content-design/information-architecture/">
        <i class="fa fa-circle usa-media_block-img" aria-hidden="true"></i>
        <span class="usa-media_block-body">Information architecture</span>
      </a>
    </li>
  </ul>
</aside>