<aside class="usa-width-one-fourth sidenav sticky">
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.title == 'Getting started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/front-end/getting-started/">
        <i class="fa fa-check" aria-hidden="true"></i>
        Getting started
      </a>
    </li>
    <li>
      <a {% if page.title == 'Keyboard access' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/front-end/keyboard-access/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Keyboard access
      </a>
    </li>
    <li>
      <a {% if page.title == 'Screen reader access' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/front-end/screen-reader/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Screen reader
      </a>
    </li>
    <li>
      <a {% if page.title == 'Headings' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/front-end/headings/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Headings
      </a>
    </li>
    <li>
      <a {% if page.title == 'Page structure' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/front-end/page-structure/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Page structure
      </a>
    </li>
    <li>
      <a {% if page.title == 'Images' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/front-end/images/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Images
      </a>
    </li>
    <li>
      <a {% if page.title == 'Color and contrast' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/front-end/color-and-contrast/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Color and contrast
      </a>
    </li>
    <li>
      <a {% if page.title == 'Automated testing' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/front-end/automated-testing/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Automated testing
      </a>
    </li>
  </ul>
</aside>