<aside class="usa-width-one-fourth sidenav sticky">
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.title == 'Getting started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/product/getting-started/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Getting started
      </a>
    </li>
    <li>
      <a {% if page.title == 'Accessibility basics' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/product/accessibility-basics/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Accessibility basics
      </a>
    </li>
    <li>
      <a {% if page.title == 'Diverse users' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/product/diverse-users/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Diverse users
      </a>
    </li>
    <li>
      <a {% if page.title == 'Project workflow' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/product/project-workflow/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Project workflow
      </a>
    </li>
    <li>
      <a {% if page.title == 'Final review' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/product/final-review/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Final review
      </a>
    </li>
  </ul>
</aside>