<aside class="usa-width-one-fourth sidenav sticky">
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.title == 'Getting started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/getting-started/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Getting started
      </a>
    </li>
    <li>
      <a {% if page.title == 'Inclusive design' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/inclusive-design/">
      <i class="fa fa-circle" aria-hidden="true"></i>
        Inclusive design
      </a>
    </li>
    <li>
      <a {% if page.title == 'Assistive technology' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/assistive-technology/">
      <i class="fa fa-circle" aria-hidden="true"></i>
        Assistive technology
      </a>
    </li>
    <li>
      <a {% if page.title == 'Humanize accessibility' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/humanize-accessibility/">
      <i class="fa fa-circle" aria-hidden="true"></i>
        Humanize accessibility
      </a>
    </li>
    <li>
      <a {% if page.title == 'Tab order' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/tab-order/">
      <i class="fa fa-circle" aria-hidden="true"></i>
        Tab order
      </a>
    </li>
    <li>
      <a {% if page.title == 'Focus' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/focus/">
      <i class="fa fa-circle" aria-hidden="true"></i>
        Focus
      </a>
    </li>
    <li>
      <a {% if page.title == 'Navigation shortcuts' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/navigation-shortcuts/">
      <i class="fa fa-circle" aria-hidden="true"></i>
        Navigation shortcuts
      </a>
    </li>
    <li>
      <a {% if page.title == 'Forms' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/forms/">
      <i class="fa fa-circle" aria-hidden="true"></i>
        Forms
      </a>
    </li>
    <li>
      <a {% if page.title == 'Touch targets' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/ux/touch-targets/">
      <i class="fa fa-circle" aria-hidden="true"></i>
        Touch targets
      </a>
    </li>
  </ul>
</aside>
