<aside class="usa-width-one-fourth sidenav sticky">
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.title == 'Getting started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/getting-started/">
        <i class="fa fa-check" aria-hidden="true"></i>
        Getting started
      </a>
    </li>
    <li>
      <a {% if page.title == 'Color and contrast' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/color-and-contrast/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Color and contrast
      </a>
    </li>
    <li>
      <a {% if page.title == 'Layout and hierarchy' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/layout-and-hierarchy/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Layout and hierarchy
      </a>
    </li>
    <li>
      <a {% if page.title == 'Typography' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/typography/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Typography
      </a>
    </li>
    <li>
      <a {% if page.title == 'Graphics and images' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/graphics-and-images/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Graphics and images
      </a>
    </li>
    <li>
      <a {% if page.title == 'Data visualizations' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/data-visualizations/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Data visualizations
      </a>
    </li>
    <li>
      <a {% if page.title == 'Forms' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/forms/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Forms
      </a>
    </li>
    <li>
      <a {% if page.title == 'Mobile' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/mobile/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Mobile
      </a>
    </li>
    <li>
      <a {% if page.title == 'Keyboard access' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/keyboard-access/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Keyboard access
      </a>
    </li>
    <li>
      <a {% if page.title == 'Screen reader' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/visual-design/screen-reader/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Screen reader
      </a>
    </li>
  </ul>
</aside>