<footer class="site-footer" role="contentinfo">
  <div class="grid-container">
    <div class="logo-links">
      <a href="http://www.gsa.gov/">
        <img src="{{ site.baseurl }}/assets/img/gsa-logo.svg" alt="GSA">
      </a>
    </div>
    <div class="footer-text">
      <p class="usa-text-small">A project of GSA’s <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">Technology Transformation Services</a>, maintained by the <a href="https://accessibility.18f.gov/">Accessibility Guild</a>.</p>
      <p class="usa-text-small">This website is hosted on <a href="https://federalist.18f.gov/">Federalist</a>.</p>
    </div>
    <div class="footer-buttons">
      <a class="footer-button usa-text-small" href="https://github.com/18F/accessibility-playbook/edit/main/{{ page.path }}"><i class="fa fa-pencil" aria-hidden="true"></i>Edit this page</a>
      <a class="footer-button usa-text-small" href="https://github.com/18F/accessibility-playbook/issues/"><i class="fa fa-github" aria-hidden="true"></i>File an issue</a>
    </div>
  </div>
</footer>
<script src="{{ "assets/js/uswds.min.js" | relative_url }}"></script>
