<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="usa-header usa-header-basic" role="banner">
  <!-- Gov banner BEGIN -->
  <div class="usa-banner">
    <div class="usa-accordion">
      <header class="usa-banner-header">
        <div class="usa-grid usa-banner-inner">
        <img src="{{ site.baseurl }}{{ site.imagepath }}favicons/favicon-57.png" alt="U.S. flag">
        <p>An official website of the United States government</p>
        <button class="usa-accordion-button usa-banner-button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner-button-text">Here's how you know</span>
        </button>
        </div>
      </header>
      <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
        <div class="usa-banner-guidance-gov usa-width-one-half">
          <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}{{ site.imagepath }}icon-dot-gov.svg" alt="Dot gov">
          <div class="usa-media_block-body">
            <p>
              <strong>The .gov means it’s official.</strong>
              <br>
              Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
            </p>
          </div>
        </div>
        <div class="usa-banner-guidance-ssl usa-width-one-half">
          <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}{{ site.imagepath }}icon-https.svg" alt="SSL">
          <div class="usa-media_block-body">
            <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted  — in other words, any information or browsing history that you provide is transmitted securely.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gov banner END -->
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
          <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">Role-based Accessibility Guidelines</a>
        </em>
        {% if page.title == 'Home' %}
          <h2 class="home-heading-subtitle">Practices for embedding accessibility and inclusive design into 18F teams.</h2>
        {% endif %}
      </div>
    </div>
    {% if page.title != "Home" %}
    <nav role="navigation" class="usa-nav">
      <button class="usa-nav-close">
        <img src="{{ site.baseurl }}{{ site.imagepath }}close.svg" alt="close">
      </button>
      <ul class="usa-nav-primary usa-accordion">
        <li>
          <a class="usa-nav-link {% if page.permalink contains 'product-manager' %}usa-page-current{% endif %}" href="{{ site.baseurl }}/product-manager/getting-started/">
            <span>Product</span>
          </a>
        </li>
        <li>
          <a class="usa-nav-link {% if page.permalink contains 'content-design' %}usa-page-current{% endif %}" href="{{ site.baseurl }}/content-design/getting-started/">
            <span>Content design</span>
          </a>
        </li>
        <li>
          <a class="usa-nav-link {% if page.permalink contains 'ux' %}usa-page-current{% endif %}" href="{{ site.baseurl }}/ux/getting-started/">
            <span>UX</span>
          </a>
        </li>
        <li>
          <a class="usa-nav-link {% if page.permalink contains 'visual-design' %}usa-page-current{% endif %}" href="{{ site.baseurl }}/visual-design/getting-started/">
            <span>Visual design</span>
          </a>
        </li>
        <li>
          <a class="usa-nav-link {% if page.permalink contains 'front-end' %}usa-page-current{% endif %}" href="{{ site.baseurl }}/front-end/getting-started/">
            <span>Front end</span>
          </a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>
</header>
<div class="usa-overlay"></div>
