
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <header class="usa-header usa-header-basic" role="banner">
    <!-- Gov banner BEGIN -->
    <div class="usa-banner">
      <div class="usa-accordion">
        <header class="usa-banner-header">
          <div class="usa-grid usa-banner-inner">
          <img src="{{ site.baseurl }}/node_modules/uswds/src/img/favicons/favicon-57.png" alt="U.S. flag">
          <p>An official website of the United States government</p>
          <button class="usa-accordion-button usa-banner-button"
            aria-expanded="false" aria-controls="gov-banner">
            <span class="usa-banner-button-text">Here's how you know</span>
          </button>
          </div>
        </header>
        <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
          <div class="usa-banner-guidance-gov usa-width-one-half">
            <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/node_modules/uswds/src/img/icon-dot-gov.svg" alt="Dot gov">
            <div class="usa-media_block-body">
              <p>
                <strong>The .gov means it’s official.</strong>
                <br>
                Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
              </p>
            </div>
          </div>
          <div class="usa-banner-guidance-ssl usa-width-one-half">
            <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/node_modules/uswds/src/img/icon-https.svg" alt="SSL">
            <div class="usa-media_block-body">
              <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted  — in other words, any information or browsing history that you provide is transmitted securely.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Gov banner END -->
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <button class="usa-menu-btn">Menu</button>
        <div class="usa-logo" id="logo">
          <em class="usa-logo-text">
            <a href="/" accesskey="1" title="Home" aria-label="Home">Accessibility Playbook</a>
          </em>
        </div>
      </div>
      <!-- <nav role="navigation" class="usa-nav">
        <button class="usa-nav-close">
          <img src="{{ site.baseurl }}/node_modules/uswds/src/img/close.svg" alt="close">
        </button>
        <ul class="usa-nav-primary usa-accordion">
          <li>
            <button class="
            usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
              <span>Section title</span>
            </button>
            <ul id="side-nav-1" class="usa-nav-submenu">
              <li>
                <a href="#">Subsection title</a>
              </li>
              <li>
                <a href="#">Subsection title</a>
              </li>
              <li>
                <a href="#">Subsection title</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-2">
              <span>Section title</span>
            </button>
            <ul id="sidenav-2" class="usa-nav-submenu">
              <li>
                <a href="#">Subsection title</a>
              </li>
              <li>
                <a href="#">Subsection title</a>
              </li>
              <li>
                <a href="#">Subsection title</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="usa-nav-link" href="#">
              <span>Section title</span>
            </a>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-3">
              <span>Section title</span>
            </button>
            <ul id="sidenav-3" class="usa-nav-submenu">
              <li>
                <a href="#">Subsection title</a>
              </li>
              <li>
                <a href="#">Subsection title</a>
              </li>
              <li>
                <a href="#">Subsection title</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="usa-search usa-search-small">
          <div role="search">
            <label class="usa-sr-only" for="search-field-small">Search small</label>
            <input id="search-field-small" type="search" name="search">
            <button type="submit">
              <span class="usa-sr-only">Search</span>
            </button>
          </div>
        </form>
      </nav> -->
    </div>
  </header>
  <div class="usa-overlay"></div>

<!-- <header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <span class="menu-icon">
        <svg viewBox="0 0 18 15" width="18px" height="15px">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </span>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->
