<aside class="usa-width-one-fourth sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <a class="usa-current" href="javascript:void(0);">Keyboard access</a>
    </li>
    <li>
      <a href="javascript:void(0);">Screen reader access</a>
    </li>
    <li>
      <a href="javascript:void(0);">Headings</a>
    </li>
    <li>
      <a href="javascript:void(0);">Page structure</a>
    </li>
    <li>
      <a href="javascript:void(0);">Images</a>
    </li>
    <li>
      <a href="javascript:void(0);">Color and contrast</a>
    </li>
    <li>
      <a href="javascript:void(0);">Automated testing</a>
    </li>
  </ul>
</aside>