<aside class="usa-width-one-fourth sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <a class="usa-current" href="{{ site.baseurl }}/getting-started/">
        <i class="fa fa-check" aria-hidden="true"></i>
        Getting started
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/keyboard-access/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Keyboard access
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/screen-reader/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Screen reader
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/headings/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Headings
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/page-structure/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Page structure
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/images/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Images
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/color-and-contrast/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Color and contrast
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/automated-testing/">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Automated testing
      </a>
    </li>
  </ul>
</aside>