// // Define defaults for each variable.

$font-sans:   -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif:  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// $image-path:  '../node_modules/uswds/src/img';
$image-path:  '../assets/img/lib/uswds';

$nav-width:   600px;

// @import 'components/variables';

@import 'lib/uswds/uswds.scss';
@import 'components/custom';