body {
  background-color: $color-gray-lightest;
}

.usa-header {
  background-color: darkslateblue; // could also use $primary-darkest or $gray-dark

  @include media($nav-width) {
    border-bottom-color: $color-gray-lighter;
  }
}

.usa-logo {
  a {
    color: $color-white;
  }
}

.main-content {
  margin-bottom: 6rem;
  margin-top: 1.5rem;

  @include media($large-screen) {
    margin-top: 6rem;
  }
}

@include media($nav-width) {
  .usa-header-basic {
    .usa-navbar {
      width: calc(100% - 558px);
    }
  }

  .page-home {
    .usa-header-basic {
      .usa-navbar {
        width: 70%;
      }
    }
  }
}

@include media($nav-width) {
  .usa-navbar {
    height: 7.3rem;
  }
}

[role="navigation"] {
  @include media($nav-width) {
    background-color: transparent;
  }
}

.usa-nav {
  padding-top: 1.6rem;
}

.usa-nav-primary > li > a {
  @include media($nav-width) {
    color: #cad9ef;
  }

  &.usa-page-current {
    @include media($nav-width) {
      color: $color-white;
    }

    > span {
      @include media($nav-width) {
        border-bottom: 0.7rem solid $color-white;
        padding-bottom: 1rem;
      }
    }
  }

  &:hover {
    @include media($nav-width) {
      color: $color-white;
    }
  }
}

.usa-nav-link:hover span {
  @include media($nav-width) {
    border-bottom-color: $color-white;
  }
}

article.page-body {
  h2:first-of-type {
    margin-top: 1.5rem;
  }
}

.page-title {
  font-size: $h6-font-size;
  // font-weight: normal;
  letter-spacing: 0.2px;
  margin-top: 0;
  text-transform: uppercase;
}

$sidenav-border: 1px solid $color-gray-lightest;

.sidenav {
  margin-bottom: 1.5rem;
}

.usa-sidenav-list {
  background-color: $color-white;

  > li {
    border-top: 2px solid $color-gray-lightest;

  }

  a {
    font-size: 16px;

    &:hover {
      color: $color-white;
      background-color: $color-gray;
    }

    &.usa-current {
      border-left: none;
      padding-left: 1.8rem;
    }
  }

  .fa {
    margin-right: 11px;
  }

  .fa-check {
    color: $color-green;
    margin-right: 7px;
    margin-top: 2px;
  }

  .fa-circle {
    color: $color-gray-lighter;
    font-size: 13px;
  }
}

.fa.usa-media_block-img {
  margin-bottom: 8px;
  margin-top: 4px;
}

.page-body {
  background-color: $color-white;
  padding: $site-margins;
}

code {
  background-color: $color-gray-lightest;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  font-size: 1.3rem;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}

.page-home {
  .usa-navbar {
    height: 20rem;
  }

  .usa-header-basic {
    .usa-logo {
      @include media($nav-width) {
        top: 4rem;
        bottom: initial;
        font-size: $title-font-size;
      }
    }
  }

  .usa-logo-text {
    @include media($nav-width) {
      font-size: $h1-font-size;
    }
  }

  .page-body {
    border-top: 10px solid #938CC5;
  }

  .main-content {
    margin-top: -3rem;
  }
}

.home-heading-subtitle {
  color: #cad9ef;
  font-weight: normal;
  font-size: $h3-font-size;
  margin-top: 1rem;
}

[role="contentinfo"] {
  @include padding(1rem null);
  background-color: $color-gray-lighter;
}

.button-question {
  background-color: $color-gold-light;
  color: $color-base;

  &:hover {
    background-color: $color-gold;
    color: $color-base;
  }
}

.button-skip {
  @include media($nav-width) {
    float: right;
  }
}

.fa-arrow-right {
  font-size: 90%;
  margin-left: 4px;
}

@include media($large-screen) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .sticky:before,
  .sticky:after {
    content: '';
    display: table;
  }
}
