body {
  background-color: $color-gray-lightest;
}

.usa-header {
  background-color: darkslateblue; // could also use $primary-darkest or $gray-dark

  @include media($nav-width) {
    border-bottom-color: $color-gray-lighter;
  }
}

// Sticky footer
.page-primary {
  @include media($medium-screen) {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .main-content {
      flex: 1 1 auto;
    }
  }
}

.usa-logo {
  a {
    color: $color-white;
  }
}

.usa-navbar {
  border: none;
}

.main-content {
  margin-bottom: 6rem;
  margin-top: 1.5rem;

  @include media($nav-width) {
    margin-top: 6rem;
  }
}

@include media($nav-width) {
  .usa-header-basic {
    .usa-navbar {
      width: calc(100% - 560px);
    }

    .usa-logo {
      bottom: 1.9rem;
    }
  }

  .page-home {
    .usa-header-basic {
      .usa-navbar {
        width: 100%;
      }
    }
  }
}

@include media($nav-width) {
  .usa-navbar {
    height: 7.3rem;
  }
}

[role="navigation"] {
  @include media($nav-width) {
    background-color: transparent;
  }
}

.usa-nav {
  padding-top: 1.6rem;
}

.usa-nav-primary > li > a {
  @include media($nav-width) {
    color: #cad9ef;
  }

  &.usa-page-current {
    @include media($nav-width) {
      color: $color-white;
    }

    > span {
      @include media($nav-width) {
        border-bottom: 0.4rem solid $color-white;
        padding-bottom: 0.6rem;
      }
    }
  }

  &:hover {
    @include media($nav-width) {
      color: $color-white;
    }
  }
}

.usa-nav-link:hover span {
  @include media($nav-width) {
    border-bottom-color: $color-white;
    border-bottom-width: 0.4rem;
    padding-bottom: 0.6rem;
  }
}

article.page-body {
  h2:first-of-type {
    margin-top: 1.5rem;
  }
}

.page-title {
  font-size: $h6-font-size;
  // font-weight: normal;
  letter-spacing: 0.2px;
  margin-top: 0;
  text-transform: uppercase;
}

$sidenav-border: 1px solid $color-gray-lightest;
$article-width: 745px;

.sidenav {
  margin-bottom: 1.5rem;

  @include media($small-screen) {
    margin-right: 30px;
    width: 227px;
  }
}

.article-body {
  width: 100%;

  @include media($article-width) {
    width: calc(100% - 257px);
  }
}

.usa-sidenav-list {
  background-color: $color-white;
  border: none;

  > li {
    border-top: 2px solid $color-gray-lightest;

  }

  a {
    font-size: 16px;

    &:hover {
      color: $color-white;
      background-color: $color-gray;
    }

    &.usa-current {
      border-left: none;
      padding-left: 1.8rem;
    }
  }

  .fa {
    margin-right: 11px;
  }

  .fa-check {
    color: $color-green;
    margin-right: 7px;
    margin-top: 2px;
  }

  .fa-circle {
    color: $color-gray-lighter;
    font-size: 13px;
    transform: translateY(-1px);
  }

  .usa-current {
    .fa {
      color: $color-primary;
    }

    &:hover {
      .fa {
        color: $color-white;
      }
    }
  }
}

.fa.usa-media_block-img {
  margin-bottom: 8px;
  margin-top: 4px;
}

.page-body {
  background-color: $color-white;
  padding: $site-margins;
}

code {
  background-color: $color-gray-lightest;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  font-size: 1.3rem;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}

.page-home {
  .usa-navbar {
    height: 20rem;
    margin-top: 2rem;

    @include media($nav-width) {
      margin-top: 0;
    }
  }

  .usa-menu-btn {
    display: none;
  }

  .usa-header-basic {
    .usa-logo {
      margin-right: 1.5rem;

      // @include media($nav-width) {
      //   margin-left: 3rem;
      // }

      @include media($small-screen) {
        // bottom: initial;
        // top: 4rem;

        top: 47%;
        transform: translateY(-50%);
        position: relative;
      }

      // @include media($large-screen) {
      //   margin-left: 0;
      // }
    }
  }

  .usa-logo-text {
    font-size: $h2-font-size;

    @include media($medium-screen) {
      font-size: $h1-font-size;
    }
  }

  .page-body {
    border-top: 10px solid #938CC5;
    max-width: 730px;
  }

  .main-content {
    margin-top: -3rem;
  }

  h2:first-of-type {
    margin-bottom: 1em;
  }
}

.home-heading-subtitle {
  color: #cad9ef;
  font-weight: normal;
  font-size: $h3-font-size;
  margin-top: 1rem;
}

[role="contentinfo"] {
  @include padding(2rem null);
  background-color: $color-gray-lighter;
}

.button-question {
  background-color: $color-gold-light;
  color: $color-base;

  &:hover {
    background-color: $color-gold;
    color: $color-base;
  }
}

.button-skip {
  @include media($nav-width) {
    float: right;
  }
}

.fa-arrow-right {
  font-size: 90%;
  margin-left: 4px;
}

@include media($large-screen) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .sticky:before,
  .sticky:after {
    content: '';
    display: table;
  }
}

// Home icons


.home-roles-list {
  @include unstyled-list;

  li {
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    width: 49%;

    @include media($medium-screen) {
      margin-bottom: 0;
      width: 19%;
    }
  }

  a {
    border: 1px solid rgba(72, 61, 139, 0.23);
    border-radius: 5px;
    color: #594bab;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: #eeebf7;
    }
  }

  img {
    width: 6rem;
  }

  p {
    margin-bottom: 0;
  }

  .fa {
    font-size: 12px;
    margin-left: 5px;
  }
}

.footer-button {
  border: 1px solid #c3c3c3;
  border-bottom-color: #b8b8b8;
  border-radius: $border-radius;
  background: #f8f8f8;
  background: linear-gradient(#fff, #eee);
  font: inherit;
  font-size: 15px;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  padding: 6px 12px 8px;
  -webkit-box-shadow: 0 1px 0 #aeb0b55e;
  line-height: 1.33em;
  margin-bottom: 0.8em;
  white-space: nowrap;
  text-decoration: none;

  &:first-of-type {
    margin-right: 3px;
  }

  &:visited {
    color: #333;
  }

  &:hover {
    background: linear-gradient(#fff, #e3e3e3);
    border-color: #aeb0b5cc;
    border-bottom-color: #5b616b9e;
    color: $color-primary-darker;
    text-decoration: none;

    .fa {
      opacity: 1;
    }
  }

  &:active {
    color: #888;
    background: linear-gradient(#e3e3e3, #eee);
    border-color: #bbb;
    border-top-color: #aaa;
    border-bottom-color: #b3b3b3;
    text-shadow: none;
    -webkit-box-shadow: inset 1px 1px 0 #ddd;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.footer-text {
  display: inline-block;

  @include media($medium-screen) {
    margin-top: -4px;
  }

  p {
    margin-bottom: 5px;

    &:first-of-type {
      @include media($medium-screen) {
        margin-bottom: 3px;
      }
    }

    @include media($medium-screen) {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-primary-darker;
  }
}

.footer-buttons {
  margin-top: 1em;

  @include media($medium-screen) {
    float: right;
    margin-top: 6px;
  }

  .fa {
    margin-right: 5px;
    opacity: 0.5;
  }
}

.logo-links {
  margin-bottom: 1rem;
  margin-right: 2rem;

  @include media($medium-screen) {
    float: left;
    margin-bottom: 0;
  }

  img {
    width: 3.2rem;
  }

  a {
    @include media-link;
  }
}

.button-next {
  .fa {
    font-size: 13px;
    margin-left: 5px;
  }
}

.fa-youtube-play {
  margin-right: 7px;
}

.page-getting-started {
  .article-body {
    p:first-of-type {
      // @extend .usa-font-lead;
      font-size: 2rem;
    }
  }
}

summary {
  @extend a;
  cursor: pointer;
}

.personas-first {
  margin-right: 7px;
}

.personas-first,
.personas-more  {
  display: inline;
}

[href^="https://gsa-tts.slack.com"],
[href^="https://github.com/18F/Accessibility_Reviews"] {
  &:after {
    content: "\1F512";
    font-size: 0.75em;
    vertical-align: text-top;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .page-primary {
    display: block;
  }
}
