@include media($nav-width) {
  .usa-header-basic {
    .usa-navbar {
      width: 50%;
    }
  }
}

@include media($nav-width) {
  .usa-navbar {
    height: 7.3rem;
  }
}

.sidenav {
  margin-top: 6rem;
}